<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.5.1/aui/aui-prototyping.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="app-container">
            {% block body %}{% endblock %}
        </div>
    </body>

    <script src="https://connect-cdn.atl-paas.net/all.js" async></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" async></script>
</html>